.para-s{
    margin-top: 16rem;
    padding: 1rem;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.para-s span{
    padding-left: 10px;
}


.para-s:hover{
    background-color: rgb(179, 164, 164);
}